/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1540px;
  margin: 0 auto;
}
.content{
  flex: 1 1 auto;
}
/* Menu start */
.menu{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1450px;
margin: 35px 240px;
}
.nav__row{
  display: flex;
}
.nav__link a{
  color: #035755;
  margin-left: 50px;
}
.nav__link a:hover,
.nav__link a:focus,
.nav__link a:active{
  color: #FB4C47;
}

.intro__row{
  display: flex;
  margin-left: 240px;
}
.intro__text{
  max-width: 640px;
}
.intro__text h2{
  color: #FA5652;

}
.intro__text h1{
  color: #035755;
  font-size: 43px;
  font-style: 700;
}
.intro__text h3{
  color: #4B4F51;
}
/* Menu end */